/*
 Theme Name: Bonnies Country Classic
 Theme URI: http://customrayguns.com/
 Description: BBQ Sauce!
 Author: Asia Mayfield
 Author URI: 
 Template: twentytwelve
 Version:        1.0.0
*/
 
@import url("../twentytwelve/style.css");
 
/* =Theme customization starts here

.site{max-width:100% !important; width:100%; min-width:100%;}
#page{max-width:100% !important; width:100%; min-width:100%;}
